/* Reset and base styles for full-screen canvas game */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  
  /* Disable touch highlights and selections */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  /* Prevent overscroll/bounce on iOS */
  overscroll-behavior: none;
  touch-action: none;
}

#game-canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Prevent any unwanted touch behaviors */
  touch-action: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}
